@charset "utf-8";
$green: #d4ebb9;
$primary: $green;
$beige: #f0ebda;
$warning: $beige;
$pink: #f0dae6;
$danger: $pink;
$blue: #c3deeb;
$info: $blue;
$dark-green: #a6bd8a;
$success: $dark-green;
$purple: #d5b8e6;
$link: $purple;
@import "../node_modules/bulma/bulma.sass" ;
